{% load static %}
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
     <div class="sidebar">
         {% include "tech/index/sections/right/tech_section_title.html" %}
         {% include "tech/index/sections/right/tech_section_papular.html" %}
         {% include "tech/index/sections/right/tech_section_follow.html" %}
         {% include "tech/index/sections/right/tech_section_review.html" %}
         {% include "tech/index/sections/right/tech_section_footer.html" %}
     </div><!-- end sidebar -->
 </div><!-- end col -->

