{% load static %}

{% block content %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="first-slot">
                <div class="masonry-box post-media">
                    <img src="{{ section.feature_image.url }}" alt="{{ section.title }}" height="450px">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="tech-category-01.html" title="">{{ section.category.name }}</a></span>
                                <h4><a href="tech-single.html" title="">{{ section.title }}</a></h4>
                                <small><a href="tech-single.html" title="">{{ section.published_at|date:'d F, Y' }}</a></small>
                                <small><a href="tech-author.html" title="">{{ section.author }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end first-side -->

            
            {% for post in sections %}
            <div class="second-slot">
                <div class="masonry-box post-media">
                    <img src="{{ post.feature_image.url }}" alt="{{ post.title }}"  height="450px">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="tech-category-01.html" title="">{{ post.category.name }}</a></span>
                                <h4><a href="tech-single.html" title="">{{ post.title }}</a></h4>
                                <small><a href="tech-single.html" title="">{{ post.published_at|date:'d F, Y' }}</a></small>
                                <small><a href="tech-author.html" title="">{{ post.author }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end second-side -->
            {% endfor %}

            <!-- Add the last-slot section if you want to display another post -->

        </div><!-- end masonry -->
    </div>
</section>
{% endblock %}
